<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="shortcut icon" type="img/png" href="../img/icon-victoria.png">
    <link rel="stylesheet" href="../css/styles-vistas.css">
    <link rel="stylesheet" href="../css/style.css">
    <link href="../css/bootstrap.css" rel="stylesheet" type="text/css"/>
    <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
    <title>Administrador</title>
</head>
<body>
    <section class="fondo_2">
        <div class="container">
            <div class="img_logo_2">
                <img src="../img/logofinal-vistas.png" alt="Logo La victoria">
            </div>
            <br>
            <br>
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th class="text-center">Codigo del Contribuyente</th>
                        <th class="text-center">Tipo de Consulta</th>
                        <th class="text-center">Detalles</th>
                        <th class="text-center">Fecha</th>
                        <th class="text-center">Estado</th>
                    </tr>
                </thead>
               
                <tbody>
                    <tr>
                        <td class="text-center"><%= per.getId()%></td>
                        <td class="text-center"><%= per.getNombre()%></td>
                        <td class="text-center"><%= per.getApe_pat()%></td>
                        <td class="text-center"><%= per.getDni()%></td>
                        <td class="text-center"><%= per.getTelefono()%></td>
                    </tr>
                </tbody>
            </table>

        </div>
    </section>
    <script src="../js/script.js"></script>
</body>
</html>